@media only screen and (max-width: 1125px){
    .contenedor{
        height: 462px !important;
    }

}

.contenedorTabla{
    background-color: #dfdfdf;
    margin-top:24px;
    height: 310px;
    padding-top: 1px;
    margin-bottom: 24px;
}

.resultados{
    background-color: white;
    margin: 8px;
    height: 245px;
}

thead{
    background-color: red;
    color:white;
}

table{
    text-align: center;
    border:none;
    display: block;
    overflow-x: scroll;
    overflow-y: auto;
    height: 246px;
}

#generarReporte{
    float: right;
    margin-right: 24px;
    margin-bottom: 24px;
}

#landingConsulta{
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    color: #a7a7a7;
}


.contenedor{
    background-color: white;
    height: 438px;
}

.tabBtn{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.masInfo{
    margin: none;
}

.btnActivo{
    background: #ccc;
}


.tabs{
    height: 52px;
    display: block;
    background-color: #dfdfdf;
}


.estatico{
    background-color: #f1f1f1;
    text-align: left;
    padding-left: 8px;
}

.container{
    text-align: center;
    margin: 12px;
}

.col{
    padding:6px 6px;
}

.container span{
    margin-left: 32px;
    text-align: left;
}

#textoInfo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 150px;
    color:#a7a7a7;
}

.loader {
    font-size: 24px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}